{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react" ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "fetch": false
  }
}
